
# Python3
__pycache__/
*.pyc
*.pyo
.venv/
*.egg-info/
dist/

# Backend
backend/tmp_scans/
backend/reports/
backend/slither.json
.env
.env.local

# Next.js
frontend/.next/
frontend/node_modules/
frontend/.env.local

# Solidity 
*.bin
*.abi

# OS
.DS_Store
Thumbs.db
docker-compose.yml
ml/smartbugs/
backend/dist/
backend/build/
backend/*.egg-info/
backend/chainaudit-*/
backend/build/
backend/tmp_scans
backend/reports